params {
    heterogeneity_results_dir = 'results/heterogeneity'
    annotation_results_dir = 'results/annotation'
    embedding_results_dir = 'results/embedding'

    input_dir = 'data/raw/extracted'

    samplesheet =
        'manifests/samplesheet.csv'

    qc_thresholds =
        'config/qc_thresholds.json'

    processed_dir =
        'data/processed'

    qc_results_dir =
        'results/qc'
}


process {

    executor = 'local'

    cpus = 2
    memory = '4 GB'

    withName:DETECT_DOUBLETS {
        cpus = 2
        memory = '5 GB'
    }

    withName:PREPROCESS {
        cpus = 2
        memory = '5 GB'
    }
}


report {
    enabled = true
    file = 'results/benchmarks/nextflow_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'results/benchmarks/nextflow_timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'results/benchmarks/nextflow_trace.txt'
    overwrite = true
}

dag {
    enabled = true
    file = 'results/benchmarks/nextflow_dag.html'
    overwrite = true

    withName:EMBEDDING_CLUSTERING {
        cpus = 2
        memory = '5 GB'
    }

    withName:MARKER_DISCOVERY {
        cpus = 2
        memory = '5 GB'
    }

    withName:ANNOTATE_CELLS {
        cpus = 2
        memory = '5 GB'
    }

    withName:TUMOR_HETEROGENEITY {
        cpus = 2
        memory = '4 GB'
    }
}
